@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", "Inter Fallback";
  --font-mono: "JetBrains Mono", monospace;

  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-border: #27272a;
  --color-accent: #3b82f6;
  --color-accent-foreground: #eff6ff;
  --color-card: #18181b;
  --color-card-foreground: #fafafa;

  --radius: 0.75rem;
}
